body{
    background-repeat: repeat;
    font-family: 'Montserrat', sans-serif;
    background-size: contain;
    border-color: black;
    border: black;
    opacity: 0.92;
}
.title h1{
    font-size: 75px;
    color: white;
    text-align: left;
    margin-bottom: 0%;
    padding: 10%;
}

.content{
    border: 2px black solid;
    display: flex;
    justify-content: center;
    margin-left: 5%;
    width: 90%;
    background-color: black;
    color: rgb(0,114,217);
    border-radius: 10px;
}

.content p, .content li{
    font-weight: 500;
    margin-bottom: 5%;
    color: white;
}

.carousel .carousel-item {
    height: 350px;
    margin-bottom: 10%;
}
  
.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

h3{
    margin-top: 10%;
    margin-bottom: 2.5%;
}

h2{
    margin-top: 5%;
}

.buyfr{
    display : flex; 
    justify-content: space-evenly;
    margin-bottom: 4%;
}

.dev-details{
    display : flex; 
    justify-content: flex-start;
    margin-bottom: 4%;
}

.dev-details div{
    margin-right: 10%;
}

.buy{
    margin-top: 25%;
}

.btn-primary {
    color: #fff;
    background-color: rgb(0,114,217);
    border-color: rgb(0,114,217);
}

hr{
    border: 0; 
    height: 1px; 
    background-color: rgb(0,114,217);
    opacity: 0.9;
}

.comment-user{
    padding: 2.5%;
    border: 1px  rgb(0,114,217) solid;
    border-radius: 25px;
    margin-bottom: 2%;
}
