body{
    background-color: rgb(0, 41, 83);
    background-image: url('https://1.bp.blogspot.com/-9GOpPFEb-YA/XmlIzOPL8dI/AAAAAAAAMTM/3njbx0695hUSzXPg5D8Q5_82SGiKsoaGgCLcBGAsYHQ/s1600/arcade-game-wallpaper-4k.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main{
    display: flex;
    border: 2px black solid;
    border-radius: 25px;
    margin: 5%;
    justify-content: center;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 11%;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(27, 26, 26);
    color: rgb(0,114,217);
}
.login, .signup{
    margin: 1%;
    margin-bottom: 0%;
    padding: 2%;
    flex-grow: 1;
}
.login{
    border-right: rgba(10, 13, 14, 0.438) 3px solid;
    padding-right: 10%;
}

hr{
    border: 0; 
    height: 1px; 
    background-color: rgb(0,114,217);
    opacity: 1;
    margin-bottom: 5%;
}



.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-outline-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

footer{
    flex: 0 0 50px;
    background: black;
}