.jumbotron {
  margin: 5%;
  margin-top: 3%;
  width: 90%;
  height: 27em;
  background-color: rgb(27, 26, 26);
  color: rgb(0,114,217);
  transition: all 10s;
}

mark {
  background-color: rgb(0,114,175);
}

.btn-primary {
  background-color: rgb(0,114,217);
  border-color: rgb(0,114,217);
}

.btn-outline-primary {
  color: rgb(0,114,217);
  border-color: rgb(0,114,217);
}

