<%- include("partials/header.ejs") %> 
<body>
    <link rel="stylesheet" href="/assets/css/about.css">
    <div class="title">
        <h2>The Team Behind</h2>
        <h1>GameBlob</h1>
    </div>
    <div class="content">
        <div class="dev dev1">
            <img src="assets/img/test.jpg" alt="">
            
            <h2>Mihir Gupte</h2>
            <p class="desc">Cool guy op shizzz</p>

        </div>
        <div class="dev dev2">
            <img src="assets/img/test.jpg" alt="">
            
            <h2>Rishi Saxena</h2>
            <p class="desc">wEEB LOLI</p>
            
        </div>
    </div>
</body>