<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
</head>
<body>
    <h1>Welcome to the Admin Page!</h1>
    <h3>What do you want to do?</h3>
    <ul>
        <a href="/admin/addGame"><li>Add a Game</li></a>
        <a href="/admin/feedback"><li>Check feedback</li></a>
        <a href="/admin/logout"><li>Logout</li></a>
    </ul>
</body>
</html>