<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin login</title>
</head>
<body>
    <%= error %> 
    <h1>Admin login page</h1>
    <form action="/admin" method="post">
        <input type="text" name="username" id="" placeholder="enter username"><br>
        <input type="password" name="password" id="" placeholder="enter pass">
        <input type="submit" value="submit">
    </form>
</body>
</html>