<link type="text/css" rel="stylesheet" href="assets/css/Billing.css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
<body>
<h1 class="heading">Please Proceed for The Payment</h1>
<div id="wrapper">
    <div class="row">
      <div class="col-xs-5">
        <div id="cards">
          <img src="http://icons.iconarchive.com/icons/designbolts/credit-card-payment/256/Visa-icon.png">
          <img src="http://icons.iconarchive.com/icons/designbolts/credit-card-payment/256/Master-Card-icon.png">
        </div><!--#cards end-->
        <div class="form-check">
    <label class="form-check-label" for='card'>
      Pay $150.00 with credit card
    </label>
  </div>
      </div><!--col-xs-5 end-->
    </div><!--row end-->
    <div class="row">
      <div class="col-xs-5">
        <i class="fa fa fa-user"></i>
        <label for="cardholder" >Cardholder's Name</label>
        <input type="text" id="cardholder" name="Cardholder" placeholder="Cardholder's Name">
      </div><!--col-xs-5-->
      <div class="col-xs-5">
        <i class="fa fa-credit-card-alt"></i>
        <label for="cardnumber">Card Number</label>
        <input type="text" id="cardnumber" placeholder="Card Number">
      </div><!--col-xs-5-->
    </div><!--row end-->
    <div class="row row-three">
      <div class="col-xs-2">
        <i class="fa fa-calendar"></i>
        <label for="date">Valid till</label>
        <input type="text" placeholder="MM/YY" id="date">
      </div><!--col-xs-3-->
      <div class="col-xs-2">
        <i class="fa fa-lock"></i>
        <label for="date">CVV / CVC *</label>
        <input type="text" placeholder="XYZ">
      </div><!--col-xs-3-->
      <div class="col-xs-5">
        <span class="small">* CVV or CVC is the card security code, unique three digits number on the back of your card seperate from its number.</span>
      </div><!--col-xs-6 end-->
    </div><!--row end-->
    <footer>
      <button class="btn">Pay</button>
    </footer>
  </div><!--wrapper end-->
  <div class="lastbox">
  <h3 class="last">
      Please Note:
      <br>
      *The Game will be added to your library.
  </h3>
  </div>
</body>