<%- include("partials/header.ejs") %> 
<body>
    <link rel="stylesheet" href="/assets/css/list.css">
    <%- include("partials/nav.ejs") %> 
    <div class="main">
        <div class="container">
            <div class="search-term">
                <h1>Search for 'Assassin's'</h1>
            </div>
            <hr>
            <div class="results">
                <ul style="list-style-type:none;">
                    <li>
                        <div class="query">
                            <img src="https://cdn-products.eneba.com/resized-products/HLoyaNQ_350x200_1x-0.jpg" alt="">
                            
                            <h3><span>1.</span> <a href="#">Assassin's Creed Revolution</a></h3>
                            
                            <p>Assassin's Creed is an action-adventure video game developed by Ubisoft Montreal and published by Ubisoft. It is the first installment in the Assassin's Creed series. The game was released for PlayStation 3 and Xbox 360 in November 2007 and was made available on Microsoft Windows in April 2008. Also, the game can be played on Xbox One consoles via backward compatibility.</p>
                            
                        </div>
                    </li>
                    <li>
                        <div class="query">
                            <img src="https://cdn-products.eneba.com/resized-products/HLoyaNQ_350x200_1x-0.jpg" alt="">
                            
                            <h3><span>2.</span> <a href="#">Assassin's Creed Revolution</a></h3>
                            
                            <p>Assassin's Creed is an action-adventure video game developed by Ubisoft Montreal and published by Ubisoft. It is the first installment in the Assassin's Creed series. The game was released for PlayStation 3 and Xbox 360 in November 2007 and was made available on Microsoft Windows in April 2008. Also, the game can be played on Xbox One consoles via backward compatibility.</p>
                            
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
<%- include("partials/footer.ejs") %> 