<head>
    <link type="text/css" rel="stylesheet" href="assets/css/Profile.css" />

</head>
<body>
    <div class="hello">
        <h1>Welcome Luminous !</h1>
    </div>
    <div class="head1">
        <h2>Games Bought Recently</h2>
    </div> 
    <div class="recentB">
        <ol>
            <div class="slide1">
                <li><h2>Doom Eternal</h2></li>
                <img src="https://www.pngkit.com/png/full/143-1436914_doom-eternal-logo-png.png" class="thumb">
                <a>Welcome to the world of Doom and get ready to kill some demons ,Doom Eternal is a first-person shooter video game developed by id Software and published by Bethesda Softworks. The sequel to Doom (2016), and the fifth main game in the Doom series, it was released on March 20, 2020, for Windows, PlayStation 4, Stadia and Xbox One, with versions for Nintendo Switch, PlayStation 5 and Xbox Series X and Series S planned. Set some time after the events of the 2016 game, the story follows the Doom Slayer once again, on a mission to end Hell's consumption of Earth and foil the alien Maykrs' plans to exterminate humanity. It received positive reviews, with praise for its campaign, graphics, level design, soundtrack and combat mechanics, though some disliked the increased focus on storytelling and its platforming sections.</a>
                
            </div>
            <hr><br>
            <div class="2">
                <li>Coffee</li>
            </div>
            <hr><br>
            <div class="3">
                <li>Coffee</li>
            </div>
        </ol>
    </div>
    <br>
    <hr>
    <div class="recentR">
        <ol>
            <div class="1">
                <li><h2>Doom Eternal</h2></li>
                <a>Great gaem with stunning visuals and a fun gameplay</a>
            </div>
            
            <div class="1">
                <li>Coffee</li>
            </div>

            <div class="1">
                <li>Coffee</li>
            </div>
        </ol>

    </div>
</body>