<head>
    <link rel="stylesheet" href="assets/css/Team.css">
</head>
<body>
    <h1>The Team Behind the Success</h1>
    <div class="row">
        <div class="column">
          <div class="card">
            <img src="https://i.ytimg.com/vi/MZlcm33eT7U/maxresdefault.jpg" alt="Jane" style="width:100%">
            <div class="container">
              <h2>Rishi Saxena</h2>
              <p class="title">Dev &amp; Designer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>19BCE1659.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="https://i.ytimg.com/vi/Qchs_9OMCik/maxresdefault.jpg" alt="Mike" style="width:100%">
            <div class="container">
              <h2>Mihir A Gupte</h2>
              <p class="title">Back End Creator</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>19BCE1149.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
    </div>
</body>